<plugin name='ajaxflow' version='0.2.4' grailsVersion='1.3.4 &gt; *'>
  <author>Jeroen Wesbeek</author>
  <authorEmail>work@osx.eu</authorEmail>
  <title>This plugin enables Ajaxified Webflows</title>
  <description>\
This plugin enables Ajaxified Webflows and is able to inject working customizable ajax webflows into your existing project(s)
</description>
  <documentation>https://github.com/4np/grails-ajaxflow/blob/master/README.md</documentation>
  <type>AjaxflowGrailsPlugin</type>
  <resources>
    <resource>nl.grails.plugins.ajaxflow.AjaxflowTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements>
    <plugin name='webflow' version='1.3.4 =&gt; *' />
    <plugin name='jquery' version='1.4 =&gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>